
.img-holder {
    width: 50%;
    height: 500px;
    margin-top: 45px;
}
.list-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}