.img-holder {
    width: 80%;
    height: 500px;
    margin-top: 45px;
}
.title-recipe {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}
.list-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}