.logo {
    background-color: #F7444E;
    color: #F7F8F3 ;
    display: flex;
    justify-content: center;
    padding-top: 20px;
       
}
.line {
    padding-top: 20px;
    width : 100%;
}
.buttons {
    background-color: #F7444E;
    color: #F7F8F3 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.btn-floating {
    background-color:#F7F8F3;
}
.btn-floating:hover {
    background-color: #F7F8F3;
};

